<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/users/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>Danh sách người dùng</h1>
    
    <table class="user-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>City</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% if (users.length === 0) { %>
                <tr>
                    <td colspan="4">Không có người dùng nào.</td>
                </tr>
            <% } else { %>
                <% users.forEach(user => { %>
                    <tr>
                        <td><%= user.name %></td>
                        <td><%= user.email %></td>
                        <td><%= user.city %></td>
                        <td>
                            <a href="/users/update/<%= user.id %>" class="btn btn-update">Update</a>
                            <form action="/users/delete/<%= user.id %>" method="post">
                                <input type="submit" value="Delete">
                            </form>
                        </td>
                    </tr>
                <% }) %>
            <% } %>
        </tbody>
    </table>
</body>
</html>
